{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "env": "./env",
          "database": "./database",
          "libs": "./libs",
          "models": "./models",
          "middlewares": "./middlewares",
          "shared": "./shared",
          "templates": "./templates",
          "utils": "./utils"
        }
      }
    ]
  ]
}
